# 운영체제
.DS_Store
Thumbs.db

# 에디터
.vscode/
.idea/
*.swp
*.swo
*~

# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# 빌드
dist/
build/

# 테스트 커버리지
coverage/

# 임시 파일
*.tmp
*.temp
.cache/

# 로그
*.log

# 환경 설정
.env
.env.local

# 크롬 확장 프로그램 패키징
*.crx
*.pem
*.zip


