/* CSS Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
}

button {
    border: none;
    background: none;
    cursor: pointer;
    font-family: inherit;
}

input,
textarea {
    font-family: inherit;
    border: none;
    outline: none;
}

ul,
ol {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}
